<div id="nav-col">
    <section id="col-left" class="col-left-nano">
        <div id="col-left-inner" class="col-left-nano-content">
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header nav-header-first hidden-sm hidden-xs">
                    文件管理
                    </li>
                    
                    <li class="left-nav-dashboard">
                        <a href="/">
                            <i class="fa fa-dashboard"></i>
                            <span>控制台</span>
                            <span class="label label-primary label-circle pull-right">首页</span>
                        </a>
                    </li>
                    
                    <li class="left-nav-file">
                        <a href="/file/index">
                            <i class="fa fa-file"></i>
                            <span>文件列表</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </section>
</div>
