<div class="clearfix">
    <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
    </button>

    <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
        <ul class="nav navbar-nav pull-left">
            <li>
                <a class="btn" id="make-small-nav">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="nav-no-collapse pull-right" id="header-nav">
        <ul class="nav navbar-nav pull-right">

            <li class="dropdown profile-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src='{{ assets("picture/avatar.png") }}' alt="">
                    <span class="hidden-xs">{{ username }}</span>
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a href="/profile/password">
                            <i class="fa fa-key"></i>更改密码
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;" class="js-logout-btn"
                            data-url='/auth/logout'>
                            <i class="fa fa-power-off"></i>退出
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
